{% extends "base.html" %}
{% block content %}
{% from 'bootstrap4/form.html' import render_form %}

  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h3>Create your to-do list below:</h3><br>
  </div>

<div class="container marketing">
    <!-- START THE FEATURETTES -->
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">My todo list:</h2>
                 {% for task in all_tasks %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text">

                        <input type="checkbox" aria-label="Checkbox for following text input"
                               onclick="toggleCheck({{ task.id }})"
                               {% if task.checked %} checked {% endif %}>
                    </div>
                </div>
                <label class="form-control" id="task-{{ task.id }}"
                       style="text-decoration: {% if task.checked %} line-through {% endif %};">
                    {{ task.task_text }}
                </label>
                            <a href="{{ url_for('delete', task_id=task.id) }}" style="margin-left: 10px;" title="delete"> ✖ </a>
                        <p class="post-meta">
            </div>
            {% endfor %}
        </div>
      <div class="col-md-5 order-md-1">
        <div class="input-group ml-3">
                {{ render_form(form) }}
        </div>
      </div>
    </div>
</div>

<script>
    function toggleCheck(taskId) {
        fetch('/update-task/' + taskId, { method: 'POST' })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    const taskLabel = document.getElementById('task-' + taskId);
                    taskLabel.style.textDecoration = taskLabel.style.textDecoration === 'line-through' ? 'none' : 'line-through';
                }
            });
    }
</script>



{% endblock %}